@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.container {
    padding: 20px;
    height: 100vh;
    background-color: #eeeeee;
  
  /* Center the item */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.item {
    height: 100px;
    width: 200px;
    background: #fb6942;
    border-radius: 1rem;
    color: #fff;
  
  /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}