@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.container {
    padding: 20px;
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.item {
    height: 150px;
    width: 150px;
    background: #fb6942;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Grow, Shrink and Basis */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    /* Or shorthand */
    flex: 1 1 auto;
}